<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poll.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @poll.user.email %>
</p>

<h3>Poll Items</h3>
<ul>
  <% for @poll_item in @poll.poll_items %>
    <li><%= @poll_item.name %>(<%= @poll_item.description %>)</li>
    <div id="votes">
      <%= render partial: "votes" %>
    </div>
  <% end %>
</ul>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>